.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
}




input {
    width: 70%;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    width: 60%;
    max-width: 3000px;
    outline: none;
    margin-top: 30px;
}

button {
    padding: 10px;
    border: 0;
    padding: 10px;
    background-color: #ff9800;
    border-radius: 0px 20px 20px 0px;
    color: #fff;
    font-weight: bold;
}

button:hover {
    background-color: #f57c00;
}