.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #fff;
}

.input-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input {
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    width: 60%;
    max-width: 300px;
    outline: none;
}

.weather-button {
    width: 100px;
    height: 35px;
    background: #07182E;
    border: 0px;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    overflow: hidden;
    transition: background 0.3s ease;
    margin-left: -5px;
    /* Ajuste para eliminar o espaço entre o input e o botão */
    z-index: 1;
}

.weather-button span {
    position: relative;
    z-index: 2;
}

.weather-button:hover {
    background: #0A223E;
}

.weather-button::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    z-index: 0;
    /* Certifique-se de que o pseudo-elemento esteja atrás do texto */
}

.weather-button::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 2px;
    border-radius: 0px 15px 15px 0px;
    z-index: 0;
    /* Certifique-se de que o pseudo-elemento esteja atrás do texto */
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}